.img-fluid {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
    text-align: center
}

.btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mb-0,
.my-0 {
    margin-bottom: 0!important;
    margin-top: 75px;
}

.flash {
    color: #2c3e50!important;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 2rem;
}

@media (min-width: 992px) {
    .img-fluid {
        width: 50%;
        height: 350px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .floating-label-form-group {
        width: 50%;
        margin-left: auto;
        margin-right: auto;
    }
}

.current_score {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    font-size: 2rem;
}