{% extends 'base.html' %} 
{% block content %}

<header class="masthead bg-primary text-white text-center">
  <div class="container">
    <img class="mb-5 d-block mx-auto" src="{{ url_for ('static', filename='img/football.png') }}" alt="football">
    <h1 class="text-uppercase mb-0">Guess The Footballer Game</h2>
    <hr class="star-light">
    <h2 class="text-uppercase mb-0">Rules & How to Play</h2><br>
    <h3 class="font-weight-light">1. Please register or login to begin playing.</h3>
    <h3 class="font-weight-light">2. An image of a footballer will appear.</h3>
    <h3 class="font-weight-light">3. Enter the surname only of the player in the field provided and click submit.</h3>
    <h3 class="font-weight-light">4. You will only get one attempt for each question. </h3>
    <h3 class="font-weight-light">5. If the surname is mis-spelt this will be deemed an incorrect answer </h3>
    <h3 class="font-weight-light">6. Each correct answer will score one point</h3>
    <h3 class="font-weight-light">7. There will be a total of 20 questions</h3>
    <h3 class="font-weight-light">8. Once you have completed all 20 questions, check the scoreboard to see where you rank!</h3>
  </div>
</header>

{% endblock %}