{% extends 'base.html' %} {% block content %}

<section id=Scoreboard>
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Scoreboard</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <table>
                    <tr>
                        <th>Position</th>
                        <th>Username</th>
                        <th>Score</th>
                    </tr>
                    
                    {% for user_scores in score_data|sort(attribute='score', reverse=True) %}
                    
                    <tr>
                        <td>{{loop.index}}</td>
                        <td>{{user_scores.user}}</td>
                        <td>{{user_scores.score}}</td>
                    </tr>
                    
                    {% endfor %}
                
                </table>
                </<div>
            </div>
        </div>
</section>

{% endblock %}
