{% extends 'base.html' %} {% block content %}

<section id=Scoreboard>
    <div class="container">
        <h2 class="text-center text-uppercase text-secondary mb-0">Scoreboard</h2>
        <hr class="star-dark mb-5">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <table>
                    <tr>
                        <th>Username</th>
                        <th>Score</th>
                        <th>Position</th>
                    </tr>
                    <tr>
                        <td>Jon</td>
                        <td>20</td>
                        <td>1</td>
                    </tr>
                </table>
            </<div>
        </div>
    </div>
</section>

{% endblock %}
